table {
    width: 100%;
}

.modal .mat-form-field {
    width: 100%;
}

.buscar .mat-form-field {
    width: 80%
}

* {
    outline: none;
    border: 0;
}


/* Estilos de las tablas */

.mat-column-numero_venta {
    padding-left: 0px !important;
    text-align: center !important;
    width: 10%;
}

.mat-column-cliente {
    padding-left: 0px !important;
    text-align: center !important;
    width: 20%;
}

.mat-column-solicitante {
    padding-left: 0px !important;
    text-align: center !important;
    width: 20%;
}

.mat-column-total {
    padding-left: 0px !important;
    text-align: center !important;
    width: 15%;
}

.mat-column-fecha_vent {
    padding-left: 0px !important;
    text-align: center !important;
    width: 15%;
}

.mat-column-acciones {
    padding-left: 0px !important;
    text-align: center !important;
    width: 10%;
}

.mat-column-acciones2 {
    padding-right: 0px !important;
    text-align: center !important;
    width: 10%;
}

.material-icons {
    color: rgb(20, 27, 83);
}

.material-icons:hover {
    color: rgb(0, 30, 253);
}

.fecha {
    width: 150px !important;
}